.addTarget {
  display: flex;
  flex-direction: column;
  height: 100%;
  width:100%;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  .header {
    width: 100%;
    font-weight: bold;
    line-height: 50px;
  }
}
